<div class="p-3">
  <div class="d-flex justify-content-between">
    <h2 class="my-2">New Quote</h2>
    <button class="btn btn-danger" type="button" (click)="generateFake()">Generate Fake Quote</button>
  </div>
  <div class="alert alert-danger" *ngIf="error">Error getting Quotes...</div>
  <form
    [formGroup]="newQuoteForm"
    (ngSubmit)="addQuote()"
  >
    <label class="form-label">Name</label>
    <input
      class="form-control mb-2"
      type="text"
      name="quoteName"
      formControlName="quoteName"
    />
    <div class="mt-2" *ngIf="!newQuoteForm.get('quoteName')?.valid && newQuoteForm.get('quoteName')?.touched">
      <span class="text-danger" *ngIf="newQuoteForm.get('quoteName')?.errors?.['required'] ">Please add a name to the quote. </span>
      <span class="text-danger" *ngIf="newQuoteForm.get('quoteName')?.errors?.['forbiddenName']">Invalid name. </span>
      <span class="text-danger" *ngIf="newQuoteForm.get('quoteName')?.errors?.['minlength']">Min length is 3. </span>
    </div>
    <label class="form-label">Company</label>
    <input
      class="form-control mb-2"
      type="text"
      name="company"
      formControlName="company"
    />
    <label class="form-label">Tier</label>
    <div *ngFor="let tier of tiers">
      <label>
        <input
          class="form-check-input mb-2"
          type="radio"
          [value]="tier"
          formControlName="tier"
        />
        {{tier | capitalize}}
      </label>
    </div>
    <label class="form-label">Extras</label>
    <div formArrayName="extras">
      <button class="btn btn-secondary mb-2" type="button" (click)="addExtra()">Add Extra</button>
      <div class="d-flex mb-2" *ngFor="let extraControl of extras.controls; let i = index">
        <input class="form-control me-2" type="text" [formControlName]="i">
        <button class="btn btn-danger" type="button" (click)="removeExtra(i)"><i class="bi-trash"></i></button>
      </div>
    </div>
    <label class="form-label">Total Price</label>
    <input
      class="form-control mb-2"
      type="number"
      name="totalPrice"
      formControlName="totalPrice"
    />
    <div class="d-flex justify-content-end">
      <button class="btn btn-secondary me-2" type="button" routerLink="/quotes" >Cancel</button>
      <button class="btn btn-success" [disabled]="!newQuoteForm.valid" type="submit" >Add</button>
    </div>
  </form>
</div>
<ng-container *ngIf="showModal">
  <app-modal
    title="Quotes Limit Reached"
    (onCloseModal)="closeModal()"
  >
    <div class="d-flex justify-content-start mb-4">
      <p>You have reached the maximum number of Quotes. Upgrade.</p>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-secondary me-2" (click)="closeModal()">Cancel</button>
      <button class="btn btn-primary me-2" disabled>Upgrade</button>

    </div>
  </app-modal>
</ng-container>

