<form
  class="row"
  [formGroup]="quoteFilterForm"
  (ngSubmit)="onSubmit()"
>
  <div class="col">
    <input
      class="form-control"
      id="name"
      formControlName="name"
      placeholder="Name">
  </div>

  <div class="col">
    <input
      class="form-control"
      id="company"
      formControlName="company"
      placeholder="Company:">
  </div>

  <div class="col">
    <select class="form-select" id="tier" formControlName="tier">
      <option value="">All tiers</option>
      <option value="basic">Basic</option>
      <option value="premium">Premium</option>
      <option value="enterprise">Enterprise</option>
    </select>
  </div>

  <div class="col">
    <button class="btn btn-secondary" type="submit">Filter</button>
    <button class="btn btn-dark ms-2" type="button" (click)="resetForm()">Reset</button>
  </div>
</form>
