nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

div {
  display: flex;
  gap: 12px;
  align-items: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

a, button {
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  transition: color 0.3s;

  &:hover {
    color: #ccc;
  }
}
