<div class="container-fluid p-3">
  <div class="d-flex justify-content-between mb-2 pe-3">
    <div>
      <h2 class="my-2">Quotes</h2>
    </div>
    <div>
      <button *ngIf="selectedQuotes.length > 0" class="btn btn-danger" (click)="showModal()"><i class="bi-trash"></i></button>
    </div>
  </div>

  <app-quote-filter-form></app-quote-filter-form>

  <app-spinner *ngIf="isLoading"></app-spinner>

  <ng-container *ngIf="!isLoading && quoteList.length > 0">
    <table class="table table-responsive-sm mt-3">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Company</th>
          <th scope="col">Tier</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr class="align-middle" *ngFor="let quote of quoteList">
        <td>
          <input
            #checkQuote
            class="form-check-input"
            type="checkbox"
            (change)="onQuoteSelected(quote)"
            [ngStyle]="{'cursor': 'pointer'}"
          />
        </td>
        <td>
          <a class="link link-light" [routerLink]="['/quotes', quote.id]">{{ quote.name | shorten: 15 | capitalize}}</a>
        </td>
        <td>
          <span class="">{{ quote.company }}</span>
        </td>
        <td>
          <span class="badge rounded-pill bg-secondary">{{ quote.tier | capitalize }}</span>
        </td>
        <td class="d-flex justify-content-end">
          <button class="btn btn-dark" [routerLink]="['/quotes', quote.id]"><i class="bi-pencil"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>
  <div class="my-3" *ngIf="quoteList.length === 0">
    No quotes found.
  </div>

  <div class="alert alert-danger" *ngIf="error">Error getting Quotes...</div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary me-2" (click)="paginateDown()" [disabled]="(page - limit) <= 0">Previous</button>
    <button class="btn btn-secondary" (click)="paginateUp()" [disabled]="(page + limit) >= lastPage">Next</button>
  </div>
 </div>

<ng-container *ngIf="isModalVisible">
  <app-modal
    title="Deleting Quotes"
    (onCloseModal)="closeModal()"
  >
    <div class="d-flex justify-content-start mb-4">
      <p>Are you sure you want to proceed?</p>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-secondary me-2" (click)="closeModal()">Cancel</button>
      <button class="btn btn-danger" (click)="deleteQuote()">Delete</button>
    </div>
  </app-modal>
</ng-container>

